:root{
    --header_height: 200px;

    --background: linear-gradient(to top, #30cfd0 0%, #330867 100%);

    --padding_left: .5rem;
    --deep_color:#330867;
    --light_color: rgb(227, 234, 243);

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
body{
   background-color: var(--light_color);
}
section{
    padding: 0 3vw;
}

h2{
    color:var(--deep_color)
}

.resume_header{
    display: flex;
    justify-content: space-between;
    height: 130px;
    padding: .5rem 3vw;
    position: fixed;
    top: 0%;
    z-index: 1999;
    background-image: var(--background)
}

.name_container{
    display:flex;
   color:  var(--light_color)
}

.profile_pic{
    border:0px solid ;
   border-radius: 50%;
   width: 100px;
   height:100px;
   margin:0;

}

.name_detail{
    padding: var(--padding_left);
}

.line{
    border: 2px solid var(--deep_color);
    margin-top: 5px;
    
}

.details{
    position: relative;
    top: 10%;
    color: var(--light_color);
    
}

.logo{
    font-size: 2rem;
}
.mail{
    padding: 5px 0;
}
.about_container{
    margin-top:150px;
    padding: 0 3vw;
}

.title{
    color: var(--deep_color);
}
.about{
  
  display: flex;
  justify-content: space-between;
    flex-wrap: wrap;
  height: auto;
}

.intro{
    width: 45vw;
}

.download_cv{
    margin-top: 10px;
}

.about_list{
    margin-top: 1.5rem;
    list-style-type: none;
}

.title{
    text-align: center;
}
.about_item{
    margin-bottom: 10px;
}
.skill_container{
    padding: 0 3vw;
    margin-top: 2rem;
}
.skill{
    display: flex;
    flex-direction: row;
    column-gap: 3vw;
    margin-top:.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.skill_list{
    list-style-type: none;
}

.ri-star-fill{
    color:gold;
}

.achievement{
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
row-gap: 2rem;
padding: .5rem 3vw;
margin-top: .5rem;
background-image: var(--background);
}

.achievement_item{
font-size: 1.2rem;
display: flex;
column-gap: .5rem;
color: var(--light_color);
}

.achievement_text{
    display: flex;
    column-gap: .5rem;
}

.achievement_item i{
    font-size: 3rem;
}

.achievement_num{
 font-size: 3rem;
}
.contact_container{
    padding: 0 3vw;
    margin-top: 2rem;
}
.contact{
    display: flex;
    justify-content: space-between;
    margin-top: .5rem;
    flex-wrap: wrap;
}

.contact_icon{
    display: flex;
    margin: .5rem 0;
    column-gap: 0.5rem;
}


.contact_me i{
    font-size: 2rem;
    color: var(--deep_color);
}

.contact_details{
    width: 50vw;
}
.contact_name_container{
    display: flex;
    flex-wrap:wrap ;
    column-gap:.5rem ;
    row-gap: .5rem;
   
}

.contact_input{

}

#message{
    width: 100%;
    height: 10rem;
    margin-top: 0.5rem;
    padding:0.5rem 0.5rem 9rem 0.5rem ;
}

button{
    background-image: var(--background);
    padding: .5rem 1rem;
    color: white;
    margin-top: 1rem;

}

@media screen and (max-width:768px){
    .body{
        display: flex;
    }
    .resume_header{
        flex-wrap: wrap;
        height: auto;
        
    }

    .about_container{
        margin-top: 190px;
    }

    .about_intro{
        margin-top: 10px;
    }
    
    .intro{
        width:100% ;
    }
}